<div data-hook="admin_product_video_form_fields">
  <%= f.field_container :file do %>
    <%= f.label :video %>
    <% if f.object.file.present? %>
      <div class="current-video">

        <video width="320" height="240" controls>
          <source src="<%= f.object.file.url %>" type="video/mp4">
          <%= t('spree_videos.video_not_supported') %>
        </video>
        <p><%= t('spree_videos.current_video') %></p>
      </div>
    <% end %>
    <%= f.file_field :file %>
  <% end %>

  <%= f.fields_for :tag_attributes do |tag_form| %>
    <div class="form-group">
      <%= tag_form.label :name, 'Tags' %>
      <%= tag_form.select :name, options_from_collection_for_select(@tags, 'name', 'name', @video_tags),
                                    { include_blank: true },
                                    { multiple: true, class: 'select2-tag' } %>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('.select2-tag').select2({
      tags: true,
      tokenSeparators: [',']
    });
  });
</script>